@using WebShop.App_GlobalResources
@model WebShop.Models.Product

@{
    ViewBag.Title = Locale.Add_Product;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Locale.Add_Product</h2>

@Html.Partial("_ProductPartial")