body {
    padding-top: 50px;
    padding-bottom: 20px;
}

html,
body{
    height: 100%
}

#holder{
    min-height: 100%;
    position:relative;
}

#body{
    padding-bottom: 100px;    /* height of footer */
}

#detail {
    background-color: #3366FF;
    border-color: #0000FF;
}

span.filter {
    padding: 5px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    min-height: 100%;
    height: auto;
    /* Negative indent footer by its height */
    margin: 0 auto -60px;
    /* Pad bottom by footer height */
    padding: 0 10px 60px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#footer {
    position:absolute;
    height: 100px;
    width: 100%;
    bottom:0;
    background-color: white;
}

.searchRow {
    margin-bottom: 10px;
}

@media(min-width:992px){
    .row .buttons {
        position: absolute; 
        bottom: 0; 
        width: 100%; 
        height:50px;
    }
    .thumbnail {
       height: 450px;
    }
    .item {
        padding-bottom: 10px;
    }
}

/*
    Font in basket is too large for small screens.
*/
@media(max-width:768px){
    .product-name {
        font-size:small;
    }
}
