@using WebShop.App_GlobalResources
@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = Locale.Locked_Out;
}

<hgroup>
    <h1 class="text-danger">@Locale.Locked_Out.</h1>
    <h2 class="text-danger">@Locale.Locked_Out_Message</h2>
</hgroup>
