@using WebShop.App_GlobalResources
@{
    ViewBag.Title = "Confirm Email";
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        @Locale.ConfirmEmailText @Html.ActionLink(@Locale.ConfirmEmailClick, "Login", "Account", null, new { id = "loginLink" })
    </p>
</div>
