@using WebShop.App_GlobalResources
@{
    ViewBag.Title = Locale.Forgot_Password_confirmation_title;
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>@Locale.Forgot_Password_confirmation</p>
</div>
	
