@using WebShop.App_GlobalResources
@{
    ViewBag.Title = Locale.Reset_Confirmation_Title;
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        @Locale.Reset_Confirmation_Body @Html.ActionLink(Locale.ConfirmEmailClick, "Login", "Account", null, new { id = "loginLink" })
    </p>
</div>
